.btn-next {
  margin-top: 2em;
}

.btn {
  background-color: $primary-orange;
}

.btn-wrap {
  text-align: center;
}

.questions-container {
  margin-bottom: 10em;
}

.questionnaire {
  background-color: $primary-white;

  .slick-slide {
    padding: 0;
  }

  .slick-prev {
    left: -80px;
  }

  .slick-next {
    right: -50px;
  }

  .slick-prev:before, .slick-next:before {
    color: $primary-orange;
    font-size: 40px;
  }

  .slick-initialized {
    min-height: 85%;
    padding: 20px 0;

    .slick-slide {
      padding: 20px;

      .Qbubble {
        border: 2px solid $primary-orange;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        margin: 0 auto 20px auto;

        .Qnumber {
          color: $primary-orange;
          font-weight: 700;
          text-align: center;
          margin-top: 2px;
        }
      }
    }
  }
}

.input-box {
  border: none;
  outline: none;
  resize: none;
  background-color: #EEE;
  margin-top: 2em;
  border-radius: 5px;
  padding: 0.5em;
  height: 5em;
}
