@import 'variables';
@import 'navbar';
@import 'questions';

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: $main-font;
}

.about h3 {
  text-align: center;
  margin: 2em;
}

.home {
  text-align: center;
}

.image-container {
  width: 80%;
  max-width: 400px;
  margin: 4em auto;

  img {
    width: 100%;
  }
}

main {
  margin: 0 1em;
}

/********************  QUESTIONNAIRE ******************/

.questionnaire {
  background-color: #4CCEDE;
  .slick-prev {
    left: -45px;
  }
  .slick-prev:before, .slick-next:before {
    color: #D5E739;
    font-size: 40px;
  }
  .slick-initialized {
    min-height: 85%;
    padding: 20px 0;
    .slick-slide {
      padding: 20px;
      .Qbubble {
        border: 2px solid #D5E739;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        margin: 0 auto 20px auto;
        .Qnumber {
          color: #D5E739;
          font-weight: 700;
          text-align: center;
          margin-top: 7px;
        }
      }
    }
  }

}
